$cyan: hsl(180, 66%, 49%);
$darkViolet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$grey: hsl(0, 0%, 75%);
$greyishViolet: hsl(257, 7%, 63%);
$vDarkBlue: hsl(255, 11%, 22%);
$vDarkViolet: hsl(260, 8%, 14%);
