.app .sections {
  text-align: center;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 70px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
